[Desktop Entry]
Encoding=UTF-8
Name=Link to AWP - All you need to know before trying the role in CS:GO
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Farete.gg%2Fwp-content%2Fuploads%2F2019%2F05%2Fawp.jpg&imgrefurl=https%3A%2F%2Farete.gg%2Fawp%2F&tbnid=Boj---HqVOtMcM&vet=12ahUKEwjBheqYkezrAhVTXs0KHS4mD7gQMygIegUIARC7AQ..i&docid=IVLRbRDo5d8ECM&w=1920&h=410&q=awp%20picture&safe=active&client=ubuntu&ved=2ahUKEwjBheqYkezrAhVTXs0KHS4mD7gQMygIegUIARC7AQ
Icon=text-html
